// NavBar color
$navbarColor: chartreuse;

// Navbar Font Color
$navbarFontcolor: sienna;

// Spring Green Color
$ctaSpringColor: SpringGreen;

// White and Black color used in many places
$contactWhiteFont: white;
$black: black;

// SeaGreen color
$contactSeaGreenColor: seaGreen;

// Shadow color for box
$contactCCCshadow: #ccc;

// Yellow green color
$ProductslistYellow: YellowGreen;

// later used another black color but i realized later that I had created one blac color var before
$myBlackcolor: black;
