// CTA scss
.cta{
  display: flex;
  list-style:none;
  justify-content: space-around;
  li{
    width: 25%;
    background-color:$ctaSpringColor;
    padding:10px;
  }
  img{
    display: block;
    border: 1px solid black;
    width: 100%;
    height: 150px;
  }
  a{
    text-decoration: none;
    font-size: $myCtaFont;
    font-weight: bold;
  }
}
