// Nav font
$myNavfont: 1.5em;

// Cta Font
$myCtaFont: 1.2em;

// Product Lists Font same as CTA font

// Section fonts
$sectionFont1: 2.2em;

// LandingFont
$landingFont1: 2.5em;
$landingFont2: 1.4em;

// Contactfont
$contactFont1: 1.9em;
$contactFont2: 2.6;
